.title {
    font-size: 30px;
    color: white;
    margin: 0 auto;
}

.expand-collapse-sec {
    padding-top: 13px;
    padding-bottom: 8px;
    width: 60%;
    margin: 0 auto;
}

#expandCollapsSec:hover{
    cursor: pointer;
}

.sectionTitle {
    color: #282c34;   
}

.left {
    margin:0 auto;
    text-align: left;
 }